*{
    padding: 0;
    margin: 0;
}

header{
    background-color: rgba(254, 242, 183, 0.892);
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo{
    width: 150px;
    height: 150px;
    margin-left: 20px;
}

.faixa{
    background-color: blue;
    width: 100%;
    height: 15px;
}

.icons{
    width: 20px;
    height: 20px;
    margin-left: 10px;
}

.frase{
    height: 400px;
}

.content h2{
    text-align: center;
    margin-top: 35px;
    font-size: 30px;
    font-weight: bold;
}

.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.card-images {
    width: 300px;
    height: 300px;
    margin-left: 20px;
    border-radius: 10px;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    transition: transform 0.2s, box-shadow 0.2s;
    cursor: pointer;
}

.images-cards{
    width: 300px;
    height: 300px;
}

.card-images:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-text {
    text-align: center;
    font-size: 25px;
    color: #000000;
    margin-top: 20px;
}
